[Desktop Entry]
Encoding=UTF-8
Name=Link to Writing A Global Path Planner As Plugin in ROShttp://wiki.ros.org › navigation › Tutorials › Writing A ...
Type=Link
URL=http://wiki.ros.org/navigation/Tutorials/Writing%20A%20Global%20Path%20Planner%20As%20Plugin%20in%20ROS
Icon=text-html
